{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}truc pour gestion des heures de taff{% endblock %}

 {% block page_actions %}
{% endblock %} 

{% block main %}

<p>hello</p>

{% endblock %}
