{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

{# <a href="{{ path('admin') }}">Admin Dashboard : manage projects</a>

<h2>All availiable projects</h2>
<ul>
{% for project in projects %}
<li>{{ project.name}} </li>
{% endfor %}
</ul>
<hr> #}

<div class="vh-100 bg-light p-0 m-0 col">
     <div class="col-4"  id='calendar'></div>
</div>
<p>allal</p>

{% endblock %}
